.dal5::localhost.
.66.42.10.in-addr.arpa:127.0.0.1:a:259200
{% if inventory_hostname in groups['refinery29']|default([]) %}
+service-solr.dal5:127.0.0.1:86400
{% endif %}

{# Be authoratative for www.refinery29.com #}
.www.refinery29.com::localhost.
.www.refinery29.uk::localhost.
.www.refinery29.de::localhost.
{# App hosts send it to localhost #}
{% if inventory_hostname in groups['app']|default([]) %}
+service-redis-local.dal5:127.0.0.1:86400
+www.refinery29.com:127.0.0.1:86400
+www.refinery29.uk:127.0.0.1:86400
+www.refinery29.de:127.0.0.1:86400
{% else %}
{# Otherwise send it to the service-www load balancer #}
{% for node in all_machines %}
{% if "service-www" in node.aliases %}
+www.refinery29.com:{{ node.ip_int }}:60
+www.refinery29.uk:{{ node.ip_int }}:60
+www.refinery29.de:{{ node.ip_int }}:60
{% endif %}
{% endfor %}
{% endif %}

{% for node in all_machines %}
={{ node.pqdn }}:{{ node.ip_int }}:600
{% if node.aliases %}
{% for alias in node.aliases %}
+{{ alias }}.dal5:{{ node.ip_int }}:60
{% endfor %}
{% endif %}
{% endfor %}
