{% for site in dns_sites | default([site_id]) %}
.{{ site }}::localhost
{% endfor %}

.{{ dns_arpa }}:127.0.0.1:a:259200
.{{ base_domain }}::localhost
.{{ base_domain_uk }}::localhost
.{{ base_domain_de }}::localhost
{% if 'queue' not in group_names %}
=*.{{ base_domain }}:127.0.0.1:60
=*.{{ base_domain_uk }}:127.0.0.1:60
=*.{{ base_domain_de }}:127.0.0.1:60
{% endif %}

# Inventory A records
{% for host in groups[site_id] %}
={{ hostvars[host]['ansible_hostname'] }}.{{ site_id }}:{{ hostvars[host]['ansible_all_ipv4_addresses'] | ipaddr('private') | first }}:60
{% endfor %}

{# Manage nginx API requests #}
{% for host in groups['fw'] %}
{% if 'queue' in group_names %}
=*.{{ base_domain }}:{{ hostvars[host]['ansible_all_ipv4_addresses'] | ipaddr('private') | first }}:60
=*.{{ base_domain_uk }}:{{ hostvars[host]['ansible_all_ipv4_addresses'] | ipaddr('private') | first }}:60
=*.{{ base_domain_de }}:{{ hostvars[host]['ansible_all_ipv4_addresses'] | ipaddr('private') | first }}:60
{% endif %}
{%   for service in www_services %}
=service-{{ service }}.{{ site_id }}:{{ hostvars[host]['ansible_all_ipv4_addresses'] | ipaddr('private') | first }}:60
{%   endfor %}
{% endfor %}

{# Local service aliases #}
{% for service in local_services %}
=service-{{ service }}.{{ site_id }}:127.0.0.1:60
{% endfor %}

{# Manage remote service aliases #}
{% for service in remote_services %}
=service-{{ service.name }}.{{ site_id }}:{{ hostvars[groups[service.group][0]]['ansible_all_ipv4_addresses'] | ipaddr('private') | first }}:60
{% endfor %}

{% if 'mysql-replica' not in local_services %}
{% for host in groups['mysql_replicas'] %}
=service-mysql-replica.{{ site_id }}:{{ hostvars[host]['ansible_all_ipv4_addresses'] | ipaddr('private') | first }}:60
=service-mysql-replicas.{{ site_id }}:{{ hostvars[host]['ansible_all_ipv4_addresses'] | ipaddr('private') | first }}:60
{% endfor %}
{% endif %}

{% if 'redis-replica' not in local_services %}
{% for host in groups['cache_secondaries'] %}
=service-redis-replica.{{ site_id }}:{{ hostvars[host]['ansible_all_ipv4_addresses'] | ipaddr('private') | first }}:60
{% endfor %}
{% endif %}

{% if 'solr-replica' not in local_services %}
{% for host in groups['solr_replica'] %}
=service-solr-replica.{{ site_id }}:{{ hostvars[host]['ansible_all_ipv4_addresses'] | ipaddr('private') | first }}:60
{% endfor %}
{% endif %}

# Set service-gearman alias requried by UGC
{% for host in groups['queue'] | default([inventory_hostname]) %}
=service-gearman.{{ site_id }}:{{ hostvars[host]['ansible_all_ipv4_addresses'] | ipaddr('private') | first }}:60
{% endfor %}
